*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main{
    margin-top: 6em;
    flex: 1;
}

header{
    background-color: #fff;
    color: #fff;
    padding: 1rem;
    height: 6em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5em;
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
}

header a{
    color: #4E8B36;
    font-size: 1.2em;
    font-weight: 500;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    line-height: 1.2;
    text-decoration: none;
}

.logo{
    width: 13em;
    margin-left: 1%;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: right;
    flex-direction: row;
    width: 100%;
    gap: 5em;
}

.links-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: auto;
    gap: 0.5em;
}

.titulo, h1 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    line-height: 1.2;
}

header .titulo{
    color: #58cc02;
}

p{
    margin-top: 10px;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    line-height: 1.2;
    color: #777777;
    text-align: justify;
}

main .titulo{
    color: #58cc02;
    text-align: justify;
}

#home-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2em;
    padding: 2em;
    flex: 1;
}

.home-content{
    width: 50%;
}

.home-img{
    width: 25em;
}

.div-home-simbolos{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 32px;
}

.home-simbolos{
    width: 40em;
}

#sobre-section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2em;
    padding: 2em;
    flex: 1;
}

.sobre-content{
    width: 50%;
}

.sobre-img{
    width: 25em;
}

#caracteristicas {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#caracteristicas .titulo{
    text-align: center;
}

.div-caracteristicas{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    min-height: 30em;
    justify-content: center;
    align-items: center;
}

.div-cards{
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 2em;
    justify-content: center;
    min-height: 30em;
    width: 100%;
}

.div-widget{
    display: flex;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    min-height: 30em;
    padding: 2em;
    padding-left: 0;
    padding-right: 0;
    justify-content: center;
}

.widget-img{
    border-radius: 5px;
    width: auto ;
}

.widget-img-1,
.widget-img-2{
    position: relative;
}

.widget-img-1{
    align-self: center;
}

.widget-img-2{
    align-self: center;
}

.titulo-card{
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    line-height: 1.2;
    font-size: 1.2em;
    color: #4b4b4b;;
}

.p-cards {
    margin-top: 10px;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    line-height: 1.2;
    color: #777777;
    text-align: justify;
}

.sobre-cards{
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.20);
    padding: 2em;
    border-radius: 5px;
    min-width: 15em;
}

.divisor{
    padding-top: 3em;
    padding-bottom: 3em;
    display: flex;
    justify-content: center;
}

hr{
    width: 20%;
    border: solid 1.5px #4E8B36;
    border-radius: 2px;
}

footer{
    background-color: #58cc02;
    font-family: "Fredoka", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    line-height: 1.2;
    height: 8em;
    padding: 1em;
}

footer h1{
    color: #d7ffb8;
    font-weight: 400;
    padding-top: 1em;
    font-size: 1.2em;
}

footer p{
    color: #a5ed6e;
    font-weight: 400;
    font-size: 1em;
    padding-top: 0.5em;
}